body{
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
}
.banner{
    width: 100vw;
    height: 100vh;
     background-image: url(/imagenes/fondo_registro_paciente.jpg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   
}
.logo{
 
    margin-right: 64px;

}
.formulario{
    background: #084444cc;
    backdrop-filter: blur(40px);
    border-radius: 8px;
    padding: 48px;
    margin-left: 64px;
}
input, select{
    height: 40px;
    background-color: floralwhite;
    border: none;
    border-radius: 4px;
    padding-left: 16px;
    padding-right: 16px; 
    font-size: 16px;
    color: black;
    margin-top: 4px;
}
button{
    height: 48px;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    background-color: rgba(0, 0, 0, 0);
}
.b-solid{
    background-color: #1EE1DE;
    color: black;
}
.b-outline{
    border: 2px solid #1EE1DE;
    color: black;
}
.btn-flex{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}
.acciones{
    display: flex;
    flex-direction: row;
}
label{
    color: white;
    font: size 12px; 
}
.campos{
margin-top: 48px;
margin-bottom: 48px;
}
.input-container{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.inputs-row{
    display: flex;
    flex-direction: row;
}

.separador{
    width: 16px;
    height: 16px;
}
.p_doctor{
    display: none;
}


.mensaje_error{
    color:WHITE;
    font-weight: bold;
    font-size: 17.5px;
    /* margin-left: 10px; */
    font-weight: bold;
    margin-right: 127px;
    width: 260px;
}

.error{
    outline: 3.5px solid #f50000;
    
}

#submit,.cancelar{
    cursor: pointer;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.carga{
    border: 4px solid #ccc;
    border-top-color: #0e4242cc;
    border-top-style: solid;
    height: 30px;
    width: 30px;
    border-radius: 100%;

    animation: girar 0.8s linear infinite;
    margin-left: 10px;
  }

  @keyframes  girar {
      from{transform: rotate(0deg);}
      to{transform: rotate(360deg);}
      
  }

  .contenedor_mensaje{
      
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 30px;
  }
  
  .advertencia{
    background-image: url("../../imagenes/advertencia.png");
    /* background-size: cover; */
    border: blue solid 0px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 40px;
    height: 30px;
    margin-left: 5px;
  }