<aside>
    <ul>
        <a href="/">Inicio</a>
    </ul>
    <ul>
        <a href="/paciente/cita">Citas</a>
    </ul>
    <ul>
        <a href="/paciente/historia">Historia Medica</a> 
    </ul>
</aside>