<header>
    <nav>
      <div><img class="logo" src="/Imagenes/Logo Hospital.png" /></div>
      <div class="sesion">
        <img class="icono" src="/Imagenes/Perfil.png" />
        <div class="cuadro_flotante" style="visibility: hidden"><!--jkasdfkjasfasfjkas--> 
          <img src="/imagenes/icono_5.jpg" alt="icono">
          
          <div class="info_nombre">
              <p><%=user.nombre%></p>
              <p><%=user.apellido%></p>
            
            <p style="text-transform: uppercase"><img src="/imagenes/icono_3.jpg" alt="">
              <%=user.tipoUsuario%></p>
          </div>
          
          <div class="info_codigo">
            <img src="/imagenes/icono_4.jpg" alt="icono">
            <p>Codigo:</p>
            <p><%=user._id%></p>
          </div>
          <a  href="/"> <img src="/imagenes/icono_1.jpg" alt="icono">Informacion Personal</a>
          <a href="/logout"><img src="/imagenes/icono_2.jpg" alt="icono">Cerrar sesion</a>
        </div>

      </div>
    </nav>
  </header>