<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
         <title>INFORMACION DEL DOCTOR</title>
   
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
        <!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        
        <!-- Los iconos tipo Solid de Fontawesome-->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
        <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    
        <!-- Nuestro css-->
        <link rel="stylesheet" type="text/css" href="info.css" >
    </head>
    <body>
        <div class="container-fluid">
            <div class="row columna " >
                <div class="col-6 user-img sombra">
                   

                </div> 
                 <div class="col-6 segunda-columna ">
                    <p class="cod">codigo:</p><input type="text" value="" disabled class ="form-control border-primary tex" >
                    <p class="cod">especialidad:</p>
                    <input type="text" value="" disabled class ="form-control border-primary tex"  >
                    <p class="cod">ID Area Medica:</p>
                    <input type="text" value="" disabled class ="form-control border-primary tex"  >
                    <p class="cod">Citas:</p><input type="text" value="" disabled class ="form-control border-primary tex" >
                    <p class="cod">Tipo de Usuario:</p>
                    <input type="text" value="" disabled class ="form-control border-primary tex"  >
                    <p class="cod">Password:</p>
                    <input type="text" value="" disabled class ="form-control border-primary tex"  >
                    <p class="cod">Estados:</p>
                    <input type="text" value="" disabled class ="form-control border-primary tex"  >
                </div> 
            </div>
        </div>
        
        
       
    </body>