<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>LISTA CITAS PENDIENTES DOCTOR</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <!-- Los iconos tipo Solid de Fontawesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css" />
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

    <!-- Nuestro css style="background-color: transparent;  border-primary -->
    <link rel="stylesheet" type="text/css" href="citapaciente.css" />
</head>

<body>
    <div class="row">
        <div class="col-12">
                <div class="table-responsive">
                    <table class="table table-bordered  t">
                        <thead class="table-dark">
                                        <tr>
                                            <th>Area Medica</th>
                                            <th>Paciente</th>
                                            <th>Fecha</th>
                                            <th>Hora</th>
                                            <th>Descripcion</th>
                                           
                                        </tr>
                        </thead>
                        <tbody>
                             <!-- @foreach($Paciente as $paciente)-->
                             <%for(cita of citas){%>
                                <tr>
                                    
                                    <td><%=cita.areaMedica.nombre%></td>
                                    <td><%=cita.paciente.nombreCompleto%></td>
                                    <td><%=cita.fecha%></td>
                                    <td><%=cita.hora%></td>
                                    <td><%=cita.descripcion%></td>
                                   
                                </tr>
                            <%}%>
                           <!--  @endforeach-->
                        </tbody>
                    </table>              
                </div>           
                        
            
        </div>
    </div>
</body>

</html>