<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>LISTA CITAS PENDIENTES DOCTOR</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <!-- Los iconos tipo Solid de Fontawesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css" />
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

    <!-- Nuestro css style="background-color: transparent;  border-primary -->
    <link rel="stylesheet" type="text/css" href="citapaciente.css" />
    <link rel="stylesheet" href="/css/navegacion.css">
</head>

<body>
    <style>
        :root{
        --fondo-claro:#212529;
        --fondo-oscuro:#383f46;
        }
    </style>
    <%- include('../partials/menu_doctor.html') %>
    <div class="row" style="margin:30px 60px">
        <div class="col-12">
                <div class="table-responsive">
                    <table class="table table-bordered  t">
                        <thead class="table-dark">
                            <tr>
                                <th>Area Medica</th>
                                <th>Paciente</th>
                                <th>Fecha</th>
                                <th>Hora</th>
                                <th>Descripcion</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                             <!-- @foreach($Paciente as $paciente)-->
                             <%for(cita of citas){%>
                                <tr>
                                    
                                    <td><%=cita.areaMedica.nombre%></td>
                                    <td><%=cita.paciente.nombre+" "+cita.paciente.apellido%></td>
                                    <td><%=cita.fecha%></td>
                                    <td><%=cita.hora%></td>
                                    <td><%=cita.descripcion%></td>
                                   
                                </tr>
                            <%}%>
                           <!--  @endforeach-->
                        </tbody>
                    </table>     
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
    
                            <%
                            let numActualPag = parseInt(actualPag);
                            let numTotalPag = parseInt(numPag);
                            let indiceIni = numActualPag-2;
                            if(numActualPag >numTotalPag-3){
                                indiceIni -=(numActualPag-(numTotalPag-3));
                            }
                            if(indiceIni<1)indiceIni = 1;
                            let indiceFin = numActualPag + 2;
                            if(numActualPag<4){
                                indiceFin+=4-numActualPag;
                            }
                            if(indiceFin>numPag) indiceFin = numPag;
                            %>
                            <%if(numActualPag!=1){%>
                                <li class="page-item"><a class="anterior page-link" href="/cita?pag=<%=numActualPag-1%>" >Anterior </a></li>&nbsp;
                            <%}else{%>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <%}%>
                            <li class="page-item"></li><a href="/cita?pag=1" class="page-link" id="1">1</a></li>&nbsp;<%if(numActualPag>=5&&numTotalPag>7){%>...&nbsp;<%}%>
                            
                            <%for(let i = indiceIni; i <= indiceFin;i++){
                                if(i==1 || i==numPag)continue;%>
                                
                                <li class="page-item"><a href="/cita?pag=<%=i%>" class="page-link" id="<%=i%>" ><%=i%></a></li>&nbsp;<%}%><%if(numActualPag<=numTotalPag-4&&numTotalPag>7){%>...&nbsp;<%}%>
                            
                                <%if(numTotalPag>=2){%>
                                    <li class="page-item"><a href="/cita?pag=<%=numTotalPag%>" class="page-link" id="<%=numTotalPag%>"><%=numTotalPag%></a></li>&nbsp;
                                    <%}%>
                            
                            <%if(numActualPag!=numTotalPag){%>
                                <li class="page-item"><a class="siguiente page-link" href="/cita?pag=<%=numActualPag+1%>" >Siguiente </a></li>
                            <%}%>
                        </ul>
                     </nav>         
                </div>           
                        
            
        </div>
    </div>
    <script> 
        document.querySelector(".ver_citas").classList.add("enlace_activo");
      </script>
      <script>
       const navItemSeleccionado = document.getElementById("<%=actualPag%>");
       navItemSeleccionado.classList.add("activo");
    </script>
</body>

</html>