<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hospital</title>
    <link rel="stylesheet" href="/css/pagina_inicial.css" />
  </head>
  <body>
    <div class="menu">
      <div class="div_logo">
        <img class="logo" src="/imagenes/logo_login.png" alt="" />
      </div>
      <div class="div_enlaces">
        <div class="enlace">
          <img src="" alt="Sobre nosotros" />
          <p></p>
        </div>
        <div class="enlace">
          <img src="" alt="Servicios" />
          <p></p>
        </div>
        <div class="enlace">
          <img src="" alt="Contactos" />
          <p></p>
        </div>
        <a href="/login" class="login"> INICIAR SESIÓN </a>
      </div>
    </div>

    <div class="seccion_info_general seccion">
      <img class="fondo" src="/imagenes/fondo_pagina_inicial.png" alt="" />
      <div class="div_texto">
        <div class="texto">
          Somos una institución modelo en atención Integral de Salud; brindando
          servicios con oportunidad, calidad, calidez y con participación activa
          de los sectores sociales.
        </div>
      </div>
    </div>
    <div class="seccion">
      <img class="fondo" src="/imagenes/fondo_pagina_inicial_2.png" alt="" />
      <div class="div_texto">
        <div class="texto"></div>
      </div>
    </div>
    <div class="seccion">
      <img class="fondo" src="/imagenes/fondo_pagina_inicial_3.png" alt="" />
      <div class="div_texto"></div>
    </div>
    <footer>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis
      laudantium sit rerum harum cumque fugiat optio! Reprehenderit mollitia
      veritatis doloremque nam rerum accusantium nostrum magnam consectetur
      sint. Nam, dolores molestias!
    </footer>
  </body>
</html>
