<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hospital</title>
    <link rel="stylesheet" href="/css/pagina_inicial.css" />
  </head>
  <body>
    <div class="menu">
      <div class="div_logo">
        <img class="logo" src="/imagenes/logo_login.png" alt="" />
      </div>
      <div class="div_enlaces">
        <div class="enlace">
          <img class="icono" src="/imagenes/icono_edificio.png" alt="i" />
          <p>Sobre nosotros</p>
        </div>
        <div class="enlace">
          <img class="icono" src="/imagenes/icono_triangulo.png" alt="i" />
          <p>Servicios</p>
        </div>
        <div class="enlace">
          <img class="icono" src="/imagenes/icono_telefono.png" alt="i" style="width: 1.7vw;"/>
          <p>Contactos</p>
        </div>
        <a href="/login" class="login"> INICIAR SESIÓN </a>
      </div>
    </div>

    <div class="seccion_info_general seccion">
      <img class="fondo" src="/imagenes/fondo_pagina_inicial.png" alt="" />
      <div class="div_texto">
        <div class="texto">
          Somos una institución modelo en atención Integral de Salud; brindando
          servicios con oportunidad, calidad, calidez y con participación activa
          de los sectores sociales.
        </div>
      </div>
    </div>
    <div class="seccion_2 seccion">
      <img class="fondo" src="/imagenes/fondo_pagina_inicial_2.png" alt="" />
      <div class="div_texto">
        <div class="bloque_texto">
          <div class="texto">Contamos con:</div>
        </div>
        <div class="bloque_texto">
          <div class="texto"><span>Materiales</span> <span>limpios</span></div>
          <div class="texto">
            <span>Profesionales</span> <span>capacitados</span>
          </div>
        </div>
        <div class="bloque_texto">
          <div class="texto"><span>Rapida</span> <span>atención</span></div>
          <div class="texto">
            <span>Laboratorios</span> <span>equipados</span>
          </div>
        </div>
        <div class="bloque_texto">
          <div class="texto">
            <span>Medicamentos</span> <span>abastecidos</span>
          </div>
        </div>
      </div>
    </div>
    <div class="seccion_3 seccion">
      <img class="fondo" src="/imagenes/fondo_pagina_inicial_3.png" alt="" />
      <div class="div_texto">
        <div class="texto">
          <span>OFRECEMOS SERVICIOS COMO:</span>
          <span>- RESERVACIÓN DE CITAS</span>
          <span>- HISTORIAL MÉDICO</span>
        </div>
      </div>
    </div>
    <footer>
      <div class="info info_ubicacion">
        <div class="contenedor">
          <div class="item">
            <img class="icono" src="/imagenes/icono_ubicacion.png" alt="icono" /><span>CEDE CENTRAL:</span>
          </div>
          <span class="item">Av. Ucayali Nº 114 Tingo María</span>
          <span class="item">LEONCIO PRADO - Perú</span>
        </div>
      </div>
      <div class="info info_contacto">
        <div class="contenedor">
          <div class="item">
            <span>Contáctanos al</span>
          </div>
          <div class="item">
            <img class="icono" src="/imagenes/icono_telefono.png" alt="icono" /><span>(062)562018, 562019</span>
          </div>
          <div class="item">
            <img class="icono" src="/imagenes/icono_carta.png" alt="icono" /><span>hospitaltingomaria@htm.gob.pe</span>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
