<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Hospital</title>
    <link rel="stylesheet" href="/css/principal.css">
</head>
<body>
    <header>
        <nav class="p" >
            <div>
                <img src="Imagenes/Logo Hospital.png">
            </div>
            <div>
                    <img id ="img1" src="Imagenes/comunidad.png">
                    <a id = "a1" href="/error404">Nosotros</a> 
                    <img id="img2"  src="imagenes/Servicios.png">
                    <a id ="a2" href="/error404">Servicios</a>
                    <img id="img3"  src="Imagenes/preguntas.png">
                    <a id ="a3" href="/error404">Preguntas Frecuentes</a>
                
                    <button onclick="redirigir()" class="btn">Iniciar Sesion</button>
            </div>
        </nav>
    </header>
        <article>
            <section>
               
            </section>
        </article>


    
</body>
<script>
    function redirigir(){
        location.assign("/login");
    }
</script>
</html>