.boton{
    font-weight: bold;
    background-color: #31afb8;
    width: 120px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 5px;
   border: none;
   border: 2px solid #23767c;
   cursor: pointer;
}
.boton:active{
    background-color: #279097;

}
.boton:link{
    color: black;
}
.boton:visited{
    color:black;
}
.boton:hover{
    color:black;
}