
.sesion{
    position: relative;
}
.sesion img{
    cursor: pointer;
}
.cuadro_flotante{
    width: 300px;
    
    /* background-color: red; */
    position: absolute;
    left: calc(-300px + 100%);
    top: 100%;
    display: flex;
    flex-wrap: wrap;
    border: 3px solid black;
    background-color: white;
    z-index: 1000;
    justify-content: center;
    padding-top: 20px;
    

}
 .cuadro_flotante .info_nombre{
    width: 100%;
    text-align: center;
    padding: 15px;
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}
.cuadro_flotante .info_nombre p{
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    
}
 .cuadro_flotante a{
    width: 100%;
    text-align: left;
    border-top: 3px solid black;
    padding: 15px 15px;
    text-decoration: none;
    color:black;

}
.cuadro_flotante a:hover{
    background-color: #96D9BF;
}
.cuadro_flotante .info_codigo{
    width: 100%;
    /* background-color: GREEN; */
    display: flex;
    justify-content: space-between;
    padding: 15px 15px;
    border-top: 3px solid black;

}
.cuadro_flotante .info_codigo p{
    width: initial;
   
    /* background-color: gray; */
}
