*{
 margin: 0px;
 padding: 0px;
}

body{
    background: url("/imagenes/404.png") center 0px;
    background-repeat: no-repeat;
    background-size: 60%;
    background-color: #F6F6F6;
}

.btn{
    width: 140px;
    height: 30px;
    font-size: 16px;
    border: #2C99A0; 
    color: #F6F6F6 ;
    background-color: #2C99A0;
    border-radius: 10px; 
    align-items: center;
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translateX(-50%) translateY(-50%);
}
