<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
    <link rel="stylesheet" href="/error.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
</head>

<body>
    
    <div class="circle move" data-value="-1"></div>
    
    <div class="circle move" data-value="-1"></div>
    
    <div class="container">
        <h1 class="h" class="txt anim-text-flow" >La página que ha solicitado no se encuentra disponible</h1>  
            
        
            <div class="imag">
                <div class="enf">
                    <img src="/imagenes/ensf.png"/>
                </div>
            </div>
            <div class="mg">
                <div class="lagrima">
                    <img src="/imagenes/vvv.png"/>
                </div>
            </div>
            <div class="imagen">
                
                <div class="imgResponsiva">
                    <img src="/imagenes/ccsf.png"/>
                </div>
                <div class="imgResponsiva">
                    <img src="/imagenes/cero0.png"/>
                </div>
                <div class="imgResponsiva">
                    <img src="/imagenes/ccsf.png"/>
                </div>
               
            </div>
            
            <div class="boton">
                <button onclick="window.location.href='/'" style="cursor: pointer;">Volver atras</button>
            </div>
        
    </div>
    
