*{
     
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: sans-serif;

    font-size: 15px;
   
    image-rendering: crisp-edges;
}
:root{
    --size-circulo:40px;
}
body{
    background-color: #f0f0f0;
}
.menu{
    width: 100%;
    height: 100px;
    background-color: #0BB288;
}


.hoja_clinica{
    width: 75%;
    height: 600px;
    background-color: white;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid #BDBCBC;
}

.cuadro{
    
    width: 100%;
    height: 100%;
    /*border: 2px solid lightcoral; */
    position: absolute;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    align-content: flex-start;
}

.cuadro_activo{
    visibility: visible;
}




.contenedor_cuadros{

    width: 80%;
    height: 75%;
    position: relative;
   
}
.cuadro_info_personas{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #BDBCBC;
}
.cuadro_1 p{
    padding: 12px;
    padding-left: 0px;
    color: #0BB288;
}
.cuadro_1 span{
    color: #838383;
}
.info_persona .titulo_info{
    border-bottom: 2px solid #BDBCBC;
    width: 120px;
    margin-right: 100%;
    font-weight: bold;
    padding-left: 0px;
}
.info_persona{
    width: 300px;
    min-width: 300px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: flex-start;
}
.info_persona p{
    /* margin-left: 10px; */
    padding-left:10px;
    width: 25%;
}
.info_persona span{
    width: 75%;
}

.titulo_descripcion{
    width: 100%;
}
.descripcion{
    width: 100%;
    height: 105px;
   
    /* margin: 0 20px; */
    

}
.titulo_area{
    margin-left: auto;
    margin-right: 7px;
}
#area_medica{
    margin-right: 102px;
}

label{
    color: #0BB288;
}
select{
    color: #838383;
}

textarea{
    border: 2px solid #BDBCBC;
    border-radius: 5px;
    resize: none;
    color: #838383;
    padding: 7px;
}

textarea:focus{
    outline: 1px solid #838383;
}
.cuadro_2 p,.cuadro_2 textarea{
    width: 42%;
}
.cuadro_2 textarea{
    height: 71.5%;
}
.cuadro_2 p{
    margin-top: 200px;
    color: #0BB288;
    font-weight: bold;
    padding: 12px 0;
}
.cuadro_2 .contenedor_botones{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


