*{
  margin: 10px;
}
body { 
  
    background: url(../imagenes/fondocitapaciente.jpg) no-repeat center center fixed;
     background-size: cover;
    overflow-x: hidden;
 

   }
   
      

    
.t{
  margin: 0px auto; 
  
}
.table{
  
  text-align: center;
  width: 100%;
  border: 20px crimson;
  background-color: #89a7a8a8;
}

.cabecera{
  background-color: #239089;
}
