*{
  margin: 0px;
}
body { 
  
    
    background: url(../imagenes/fondocitadoc.jpg) no-repeat center center fixed;
    background-size: cover;
 

   }
   
        .avatar_diseño {
            width: 100px;
            height: 100px;
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
            border-radius: 50%;
            background: #5cb85c;
        }
        .swal-height{
            height: 350px;
        }
.t{
      margin: 10px auto; 
      text-align:center;
      width: 10%;
      
}   
.activo{
    background-color:  #C2CFD6 !important;
}
   