*{

}
body { 
  
    background: url(../imagenes/fondocitapaciente.jpg) no-repeat center center fixed;
     background-size: cover;
    overflow-x: hidden;
    overflow-y: hidden;

   }
   
      
.tbl{
  margin: 40px 10px;
}
    
.t{
  margin: 0px auto; 
  
}
.table{
  
  text-align: center;
  width: 100%;
  border: 20px crimson;
  background-color: #89a7a8a8;
}

.cabecera{
  background-color: #239089;
}
.activo{
    background-color:  #C2CFD6 !important;
}