<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hospital</title>
  <link rel="stylesheet" href="/css/login.css">
  <link rel="stylesheet" href="/css/login_ventana.css">

</head> 
<body>
  <form action="/login" method="POST">
    <div class="div_logo">
      <img src="/imagenes/logo_login.png" alt="">
    </div>
    <div class="div_tipo_usuario">
      <label for="tipo_usuario">Tipo de Usuario:</label>
        <select name="tipoUsuario" id="tipo_usuario">
          <option value="paciente">Paciente</option>
          <option value="doctor">Doctor</option>
        </select>
    </div>
    <label for="dni">DNI:</label>
    <input type="number" name="dni" id="dni" >
    <label for="password">Contraseña:</label>
    <div class="input_ojo">
      <input type="password" name="password" id="password">
      <img id="ojo_imagen"src="/imagenes/ojo.png" alt="">
    </div>
    <p class="mensaje" >DNI no registrado o contraseña incorrecta</p>
    <div class="div_iniciar_sesion">
      <div class="iniciar_sesion">INICIAR SESION</div>
    </div>
    <div class="div_recuperar_contraseña">
      <img src="/imagenes/candado.png" alt="candado">
      <p onclick="mostrarMensajePassword()">¿Has olvidado tu contraseña?</p>
    </div>
    <p class="crear_cuenta_texto" style="cursor: initial;">¿Aún no tienes una cuenta?</p>
    <a onclick="mostrarMensajeRegistro()" class="crear_cuenta_link" href="#">Regístrate Ahora</a>
  </form>
    <div class="contenedor_ventana ocultar_inicial contenedor_mensaje_registro">
      <div class="ventana">
          <div class="barra">
              <span>Mensaje</span>
              <div class="cerrar">X</div>
          </div>
          <div class="contenido">
            Acuda a nuestra clínica más cercana y solicite el registro de una cuenta de usuario en el módulo de atención al cliente, para poder tener acceso a los servicios que ofrecemos
          </div>    
      </div>
      
    
    </div>
    <div class="contenedor_ventana ocultar_inicial contenedor_mensaje_password">
      <div class="ventana">
          <div class="barra">
              <span>Mensaje</span>
              <div class="cerrar">X</div>
          </div>
          <div class="contenido">
            Acuda a nuestra clínica más cercana y solicite la recuperación de su contraseña en el módulo de atención al cliente
          </div>    
      </div>
      
    
    </div>
  <script>

    const password = document.getElementById('password');
    const ojo_imagen  = document.getElementById("ojo_imagen");
    const input_password = document.getElementById("password");
    ojo_imagen.addEventListener('click',()=>{
      if(input_password.getAttribute("type")=="password"){
        input_password.setAttribute("type","text");
        input_password.style.letterSpacing = "normal";

      }else{
        input_password.setAttribute("type","password");
        input_password.style.letterSpacing = "3px";
      }
      
    })
  </script>
  <script>
    const iniciar_sesion = document.querySelector('.iniciar_sesion');
    const form = document.querySelector('form');

    const mensaje = document.querySelector('.mensaje');
    iniciar_sesion.addEventListener('click',async ()=>{
      const dni = form.dni.value;
      const password = form.password.value;
      const tipoUsuario = form.tipoUsuario.value;
      const res = await fetch('/login', {
        method: 'POST',
        body: JSON.stringify({dni,password,tipoUsuario}),
        headers: {'Content-Type': 'application/json'}
      });

      const data = await res.json();
      if(data.mensaje){
        mensaje.style.visibility = "visible";
      }else{
        location.assign('/');
      }
      // if(data.mensaje="Te has logeado correctamente"){
      //   location.assign('/');
      // }else{
      //   console.log(data);
      // }
    });
  </script>
  <script>
    const cuadros_cerrar = document.querySelectorAll(".cerrar");
    const contenedores_ventana = document.querySelectorAll(".contenedor_ventana");

    const ventanas = document.querySelectorAll(".ventana");

    for(let cuadro_cerrar of cuadros_cerrar){
      cuadro_cerrar.addEventListener("click",()=>{
        ocultarContenedores();
    }); 
    }
    for(let contenedor_ventana of contenedores_ventana){
      contenedor_ventana.addEventListener("click",()=>{
        ocultarContenedores();
    })
    }
   for(let ventana of ventanas){
    ventana.addEventListener("click",(e)=>{
        e.stopPropagation();
    });
   }
   
    function ocultarContenedores(){
        for(let contenedor_ventana of contenedores_ventana){
          contenedor_ventana.classList.add("ocultar");
          contenedor_ventana.classList.remove("mostrar");
        }
    }
</script>
<script>
      const contenedor_mensaje_registro = document.querySelector(".contenedor_mensaje_registro");

  function mostrarMensajeRegistro(){
    contenedor_mensaje_registro.classList.remove("ocultar");
    contenedor_mensaje_registro.classList.remove("ocultar_inicial");
    contenedor_mensaje_registro.classList.add("mostrar");
  }    
  const contenedor_mensaje_password = document.querySelector(".contenedor_mensaje_password");

  function mostrarMensajePassword(){
    contenedor_mensaje_password.classList.remove("ocultar");
    contenedor_mensaje_password.classList.remove("ocultar_inicial");
    contenedor_mensaje_password.classList.add("mostrar");
  }
</script>
</body>

</html>