.principal{
    display: flex;
    flex-wrap: wrap;
    /* background-color: red; */
    justify-content: space-between;
    align-content: flex-start;
    margin-right: 120px;  

    padding: 0 30px;
}
.principal .titulo_seccion{
    width: 100%;
    /* background-color: gray; */
    text-align: left;
    margin-top: 30px;
    font-weight: bold;
}


.cuadro_detalle .boton_historia{
    font-weight: bold;
    background-color: #31afb8;
    width: 120px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 5px;
   border: 2px solid #23767c;

   margin: auto;
   color: black;
   margin-top: 350px;
}


.cuadro_detalle .boton_historia:active{
    background-color: #279097;

}