.principal{
    display: flex;
    flex-wrap: wrap;
    /* background-color: red; */
    justify-content: space-around;
    align-items: flex-start;
    align-content: flex-start;
    margin-right: 120px;
    /* height: 38em; */
}
.principal .titulo_seccion{
    width: 100%;
    /* background-color: gray; */
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}
.cuadro_detalle{
    margin-top: 20px;
    height: 520px !important;
}
.hoja_clinica .tabs h2{
    cursor: default !important;
}

.boton_agregar{
    font-weight: bold;
    background-color: #31afb8;
    width: 120px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 5px;
   border: 2px solid #23767c;

   margin: auto;
   color: black;
   cursor: pointer;
}

.boton_agregar:active{
    background-color: #279097;

}
.cuadro_boton_agregar{
    width: 100%;
    height: 30px;
    margin-top: 403px;
}