.principal{
    display: flex;
    flex-wrap: wrap;
    /* background-color: red; */
    justify-content: space-between;
    align-content: flex-start;
    align-items: flex-start;
    margin-right: 110px;
    padding: 0 30px;
    width: 74em;
}

.principal h2{
    display: inline-block;
    padding-left: 40px;
    /* background-color: blue; */
}
.principal .cuadro_titulo{
    width: 100%;
    /* background-color: gray; */
    text-align: left;
    margin-top: 30px;
    font-weight: bold;
    /* background-color: red; */
}

.principal .boton_agregar img{
    
    background-color: #31afb8;
    margin: 0;
    width: 40px;
    border: 2px solid #2C99A0 ;
    border-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-right: none;


}
.principal .cuadro_detalle{
    margin-left: auto;
}
.principal .boton_agregar{
    margin-left: 0;
    margin-top: 10px;
}

#cuadro_triage{
    white-space: pre-wrap;
    line-height: 35px;
    font-weight: bold;
}

.cuadro_botones{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 380px;
}
