*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
background-color: white;
}
header{
    background-color: #2C99A0;
    padding: 10px;
    align-items: center;
}
nav{
display: flex;  /*pone a los div uno a lado de otro*/
justify-content: space-between; /*pone a las imagenes en los margenes*/
align-items: center; /* centra todo lo que esta dentro del nav*/
padding-left: 1em;
}

article section{
    width: 71em; /*ancho*/
    height: 35em; /*largo*/
    float: right;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

#informacion {
    margin-top: 0px; /*arriba*/
    margin-bottom: 0px ;/*abajo*/
    margin-left: 40px; /*izquierda*/
    margin-right: 0px; /*derecha*/
    width: 42em; /*ancho*/
    height: 30em;/*largo*/
    border:solid #96D9BF 3px;
    float: left;
    display: flex;
}
#Cuadro-citas{
    margin-top: 0px; /*arriba*/
    margin-bottom: 0px ;/*abajo*/
    margin-left: 40px; /*izquierda*/
    margin-right: 0px; /*derecha*/
    width: 42em; /*ancho*/
    height: 30em;/*largo*/
    border:solid #96D9BF 3px;
    float: left;
    display: flex;
}
#publicidad{
    margin-top: 0px; /*arriba*/
    margin-bottom: 0px ;/*abajo*/
    margin-left: 0px; /*izquierda*/
    margin-right: 40px; /*derecha*/
    width: 18em; /*ancho*/
    height: 30em;/*largo*/
    float: right;
    border:solid #96D9BF 3px;
    display: flex;
}
#publicidad-2{
    margin-top: 0px; /*arriba*/
    margin-bottom: 0px ;/*abajo*/
    margin-left: 0px; /*izquierda*/
    margin-right: 40px; /*derecha*/
    width: 18em; /*ancho*/
    height: 20em;/*largo*/
    float: right;
    border:solid #96D9BF 3px;
    display: flex;
}
#Historial {
    margin-top: 0px; /*arriba*/
    margin-bottom: 0px ;/*abajo*/
    margin-left: 40px; /*izquierda*/
    margin-right: 0px; /*derecha*/
    width: 42em; /*ancho*/
    height: 30em;/*largo*/
    border:solid #96D9BF 3px;
    float: left;
    display: flex;
}
#Historial-Resumen{
    margin-top: 0px; /*arriba*/
    margin-bottom: 0px ;/*abajo*/
    margin-left: 0px; /*izquierda*/
    margin-right: 40px; /*derecha*/
    width: 18em; /*ancho*/
    height: 30em;/*largo*/
    float: right;

}
#Historial-Resumen p{
    margin: 0px;
    height: 9.7em;
    width: 18em; /*ancho*/
    border: solid #96D9BF 3px;
}
article section img{
    margin: 1em 1em;
}
article section p{
    font-size: 1em;
    margin: 1em;
}

aside{
    font-size: 1em; /*controla el tamaño de las opciones de la izquierda*/
    font-family: Helvetica, sans-serif; /* tipografia de las opciones*/
    list-style: none; /* le quita el  . que se presentaba por defecto*/
    width: 13em; /*ancho*/
    height: 35em;/*largo*/
    background: #96D9BF;
    float: left;
    border: solid #96D9BF 1px;
    align-items: center;
}
aside ul {
padding: 1.5em 2.8em;
border:solid white 1px;
}
aside ul a{
text-decoration: none;
color: #000;/*color de la letras*/

} 