<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registro de Cuenta</title>
    <link rel="stylesheet" href=/css/registro/registro.css>
    <link rel="stylesheet" href=/css/registro_ventana.css>
    <link rel="stylesheet" href="/css/navegacion.css">

  </head>
  <body>
    <style>
      :root{
      --fondo-claro:#084444cc;
      --fondo-oscuro:#084444cc;
      }
    </style>
    <div class="navegacion_principal" >
      <div class="contenedor_logo">
          <img class="logo" src="/imagenes/logo_login.png" alt="">
      </div>
      <div class="contenedor_enlaces">
         
  
      </div>
      <a href="/logout" class="cerrar_sesion">
          Cerrar sesion
      </a>
  </div>
  
    <div class="banner">
      <div class="formulario">
        <div class="titulo" style="display: flex; justify-content: center">
          <span style="font-size: 24px; color: white">Registro de Cuenta</span>
        </div>
        <div class="campos">
          <form id="form-register">
            <div class="inputs-row">
              <div class="input-container">
                <label for="dni">Número de DNI</label>
                <input type="number" name="dni" id="dni" required  min="1" 
                step="1"
                onkeypress="return event.keyCode === 8 || event.charCode >= 48 && event.charCode <= 57" />
              </div>
              <div class="separador"></div>
              <div class="input-container">
                <label for="email">Correo</label>
                <input type="email" name="email" id="email" required />
              </div>
            </div>
            <div class="separador"></div>
            <div class="input-container">
              <label for="type-user">Tipo de usuario</label>
              <select name="tipoUsuario" id="type-user">
                <option value="paciente">Paciente</option>
                <option value="doctor">Doctor</option>
              </select>
            </div>
            <div class="separador"></div>
            <div class="inputs-row">
              <div class="input-container">
                <label for="phone">Número de Celular</label>
                <input  type="number" name="phone" id="phone" required min="1" 
                step="1"
                onkeypress="return event.keyCode === 8 || event.charCode >= 48 && event.charCode <= 57"/>
                
              </div>
              <div class="separador"></div>
              <div class="input-container">
                <label class="p_paciente" for="phone-family"
                  >Celular de Pariente</label
                >
                <input
                  class="p_paciente"
                  type="number"
                  name="phoneFamily"
                  id="phonefamily"
                  required
                  min="1" 
                  step="1"
                  onkeypress="return event.keyCode === 8 || event.charCode >= 48 && event.charCode <= 57"
                />

                <label class="p_doctor" for="year-xp"
                  >Años de Experiencia</label
                >
                <input
                  class="p_doctor"
                  type="number"
                  name="yearXp"
                  id="year-xp"
                  required
                  min="1" 
                  step="1"
                  onkeypress="return event.keyCode === 8 || event.charCode >= 48 && event.charCode <= 57"
                />
              </div>
            </div>
            <div class="separador"></div>
            <div class="input-container">
              <label class="p_paciente" for="address">Dirección</label>
              <input
                class="p_paciente"
                type="text"
                name=""
                id="address"
                required
              />

              <label class="p_doctor" for="specialty">Especialidad</label>
              <input class="p_doctor type="number" name="specialty"
              id="specialty" required>
            </div>
            <div class="separador"></div>
            <div class="inputs-row">
              <div class="input-container">
                <label for="password">Contraseña</label>
                <input type="password" name="" id="password" required />
              </div>
              <div class="separador"></div>
              <div class="input-container">
                <label for="re-password">Confirmar contraseña</label>
                <input
                  type="password"
                  name="password"
                  id="re-password"
                  required
                />
              </div>
            </div>
            <div class="separador"></div>
            
            <div class="contenedor_mensaje">
              <div class="" id="icono_mensaje"></div><div class="mensaje_error"></div>
            </div>

          </form>
        </div>
        <div class="acciones">
          <button class="cancelar b-outline btn-flex">Cancelar</button>
          <div class="separador"></div>
          <button
            class="b-solid btn-flex"
            type="submit"
            form="form-register"
            id="submit"
          >
            Registrar
          </button>
        </div>
      </div>
      <div class="logo">
        <img src="/imagenes/LogoTingo.png" />
      </div>
    </div>
    <div class="contenedor_ventana ocultar_inicial">
      <div class="ventana">
          <div class="barra">
              <span>Mensaje</span>
              <div class="cerrar">X</div>
          </div>
          <div class="contenido">
            <div class="mensaje"> El DNI a sido encontrado correctamente</div>
            <div class="titulo_dato">Nombre:</div><div class="nombre dato"></div>
            <div class="titulo_dato">Apellido:</div><div class="apellido dato"></div>
            <div class="pregunta">¿Crear cuenta?</div>
            <div class="contenedor_botones"><div class="confirmar boton">Confirmar</div><div class="cancelar boton">Cancelar</div></div>
          </div>    
      </div>
      
    
    </div>
    <script>
      const type_user = document.getElementById("type-user");
      const p_paciente = document.getElementsByClassName("p_paciente");
      const p_doctor = document.getElementsByClassName("p_doctor");
      type_user.addEventListener("change", () => {
        if (type_user.value == "paciente") {
          for (let p_p of p_paciente) {
            p_p.style.display = "block";
          }
          for (let p_d of p_doctor) {
            p_d.style.display = "none";
          }

        } else if (type_user.value == "doctor") {
          for (let p_d of p_doctor) {
            p_d.style.display = "block";
          }
          for (let p_p of p_paciente) {
            p_p.style.display = "none";
          }
        }
      });
    </script>
    <script>
      let todoCorrecto = false;
      const form = document.querySelector("form");

      const submit = document.getElementById("submit");
      const nombre = document.querySelector(".nombre");
      const apellido = document.querySelector(".apellido");
      var registro_solicitado = false;
      async function enviarDatos(e) {
        e.preventDefault();
        

        let datosUsuario = null;
        if(todoCorrecto){
          if(registro_solicitado) return;
        registro_solicitado = true;
          sendError("Solicitando registro",5555,"carga");
          const res = await fetch("/verificardni", {
          method: "POST",
          body: JSON.stringify({dni:dni.value.trim(),tipoUsuario:form.tipoUsuario.value}),
          headers: { "Content-Type": "application/json" },
          });
          const respuesta = await res.json();
          if(respuesta.error!=null){
            configError(dni,true,respuesta.error,9999,"advertencia");
            registro_solicitado = false;
          }else{
            sendError("",999999);
            nombre.innerHTML = respuesta.nombre;
            apellido.innerHTML = respuesta.apellido;
            contenedor_ventana.classList.remove("ocultar");
            contenedor_ventana.classList.remove("ocultar_inicial");
            contenedor_ventana.classList.add("mostrar");
            registro_solicitado = false;

            // window.location.href=window.location.href;
          }

        }
      }
      const contenedor_ventana = document.querySelector(".contenedor_ventana");


      function getDatosComunes() {
        const datos = {};
        datos.nombre = " n";
        datos.apellido = " a ";
        datos.dni = form.dni.value;
        datos.email = form.email.value;
        datos.tipoUsuario = form.tipoUsuario.value;
        datos.telefono = form.phone.value;
        datos.password = form.password[0].value;
        return datos;
      }
      function getDatosDoctor() {
        const datos = getDatosComunes();
        datos.yearXp = form.yearXp.value;
        datos.especialidad = form.specialty.value;
        return datos;
      }

      function getDatosPaciente() {
        const datos = getDatosComunes();
        datos.telefonoFamiliar = form.phoneFamily.value;
        datos.direccion = form.address.value;
        return datos;
      }
      //==============================================================================
      
      const phone = document.getElementById("phone");
      const dni = document.getElementById("dni");
      const email = document.getElementById("email");
      const direccion = document.getElementById("address");
      const phone_family = document.getElementById("phonefamily");
      const year_xp = document.getElementById("year-xp");
      const specialty = document.getElementById("specialty");
      const password = document.getElementById("password");
      const re_password = document.getElementById("re-password");
      const confirm = document.getElementById("confirm");
      const mensaje_error = document.querySelector(".mensaje_error");
      const icono_mensaje = document.getElementById("icono_mensaje");
      let nivelError = 0;
      type_user.addEventListener("change", () => {
        phone_family.classList.remove("error");
        year_xp.classList.remove("error");
        direccion.classList.remove("error");
        specialty.classList.remove("error");
        nivelError = 0;
        mensaje_error.innerHTML = "";
        icono_mensaje.className ="";
      });
      submit.addEventListener("click",()=>{
        if(registro_solicitado) return;
        nivelError = 0;
        mensaje_error.innerHTML = "";
        verificarNumeroLength(phone,9,"Telefono personal invalido",90);
        verificarNumeroLength(dni,8,"Ingrese un DNI valido",100);
        verificarEmail(email);
        verificarPassword();

        if(form.tipoUsuario.value=="paciente"){
          verificarNumeroLength(phone_family,9,"Telefono de pariente invalido",90);
          verificarInputVacio(direccion);

        }else{
          verificarInputVacio(year_xp);
          verificarInputVacio(specialty);

        }
        if(nivelError == 0){
          todoCorrecto = true;
         
        } else{
          todoCorrecto =false;
        }
        
      });
      function verificarTerminosAceptados(){
        if(confirm.checked) return;
        sendError("Acepta los terminos y politicas",1,"advertencia");
        
      }
      function verificarPassword(){
        if(verificarInputVacio(re_password)&&verificarInputVacio(password))return;      
        configError(re_password,password.value!=re_password.value,"Las contraseñas no coinciden",70,"advertencia")
        configError(password,password.value!=re_password.value,"Las contraseñas no coinciden",70,"advertencia")
      }
      function verificarInputVacio(input){

        return configError(input,esTextoVacio(input.value),"Existen campos vacios",10,"advertencia");
      }
      function verificarEmail(input){
        if(verificarInputVacio(input)) return;
        emailRegex = /^(([^<>()[\]\.,;:\s@\"]+(\.[^<>()[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i;
        configError(input,!emailRegex.test(input.value),"Ingrese un email valido",80,"advertencia");
      }
      function verificarNumeroLength(input,cantidad,mensaje,nivel){
        if(verificarInputVacio(input)) return;
        configError(input,input.value.length!=cantidad,mensaje,nivel,"advertencia")
        
      }
      function configError(input,b,mensaje,nivel,icono){
        if(b){
          input.classList.add("error");
          sendError(mensaje,nivel,icono);
        }else{
          input.classList.remove("error");
        }
        return b;
      }
      
      function esTextoVacio(texto){
        return texto==null||texto.trim()=="";
      }
      function sendError(mensaje, nivel,icono){
        if(nivel>nivelError){
          mensaje_error.innerHTML = mensaje;
          nivelError = nivel;
          icono_mensaje.className = icono;
          
        }
      }
    </script>
    <script>
      
      submit.addEventListener("click", enviarDatos);
    </script>
    <script>
      const cuadro_cerrar = document.querySelector(".cerrar");
  
      const ventana = document.querySelector(".ventana");
      const confirmar = document.querySelector(".contenedor_botones .confirmar");
      const cancelar = document.querySelector(".contenedor_botones .cancelar");
      var registro_aceptado = false;

      confirmar.addEventListener("click",async ()=>{
        if(registro_aceptado) return;
        registro_aceptado = true;
        let datosUsuario = null;
        if(form.tipoUsuario.value=="paciente"){
            datosUsuario = getDatosPaciente();
        }else if(form.tipoUsuario.value=="doctor"){
            datosUsuario = getDatosDoctor();
        }
        const res = fetch("/registro", {
            method: "POST",
            body: JSON.stringify(datosUsuario),
            headers: { "Content-Type": "application/json" },
        });
          // const respuesta = await res.json();
          // ocultarContenedor();
        window.location.href=window.location.href;
        
      });
      cancelar.addEventListener("click",()=>{
        ocultarContenedor();
        registro_solicitado = false;
        
      })
        cuadro_cerrar.addEventListener("click",()=>{
          ocultarContenedor();
          registro_solicitado = false;
      }); 
      
      // for(let contenedor_ventana of contenedores_ventana){
      //   contenedor_ventana.addEventListener("click",()=>{
      //     ocultarContenedores();
      // })
      // }
      ventana.addEventListener("click",(e)=>{
          e.stopPropagation();
      });
     
     
      function ocultarContenedor(){
            contenedor_ventana.classList.add("ocultar");
            contenedor_ventana.classList.remove("mostrar");
          
      }
  </script>

  </body>
</html>
