<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registro de Citas</title>
    <link rel="stylesheet" href=/css/registro/registroCita.css>
    <link rel="stylesheet" href=/css/registro_cita_ventana.css>

    <link rel="stylesheet" href="/css/navegacion.css">
</head>
<body>
  <style>
    :root{
    --fondo-claro:#0a5252;
    --fondo-oscuro:#0c6161;
    }
  </style>
  <%- include('../partials/menu.html') %>

    <div class="banner">
      <div class="logo">
          <img src="/imagenes/LogoTingo.png" />
        </div>
        <div class="formulario">
          <div class="titulo" style="display: flex; justify-content: center">
            <span style="font-size: 24px; color: white">Formulario de Reservación de Citas </span>
          </div>
          <div class="campos">
            <form id="form-register">
              <div class="separador"></div>
              <div class="input-container">
                <label for="name_area">Área Médica</label>
                <select name="nombreArea" id="name_area">
                    <% for(area of areasMedicas){ %>
                      <option value="<%=area._id%>"><%=area.nombre%></option>  
                    <%}%>
                </select>
              </div>
              <div class="separador"></div>
              <div class="input-container">
                <label for="id_doctor">Médico</label>
                <select name="idMedico" id="id_doctor">
                 
                </select>
              </div>

              <div class="separador"></div>

              <div class="inputs-row">
                <div class="input-container">
                  <label for="date">Fechas Disponibles</label>
                  <select name="fechasDisponibles" id="date">
                    
                  </select>
                </div>
                <div class="separador"></div>
                <div class="input-container">
                  <label for="hours">Horas Disponibles</label>
                  <select name="horasDisponibles" id="hours">
                    
                  </select>
                </div>
              </div>
              <div class="separador"></div>
              <div class="input-container">
                <label for="description">Descripción de la Cita</label>
                <textarea style="resize:none; height: auto;" name="" rows="3" id="description" required></textarea>
              </div>
            </form>
          </div>
          <div class="acciones">
            
            <div class="separador"></div>
            <button
              class="b-solid btn-flex"
              type="submit"
              form="form-register"
              id="submit"
            >
              Registrar Cita
            </button>
          </div>
        </div>
        
      </div>
      <div class="contenedor_ventana ocultar_inicial">
        <div class="ventana">
            <div class="barra">
                <span>Mensaje</span>
               
            </div>
            <div class="contenido">
              <div class="mensaje"> La cita ha sido creada correctamente</div>
              
              <div class="contenedor_botones"><div class="confirmar boton">Aceptar</div></div>
            </div>    
        </div>
        
      
      </div>
      
      <script>
         const comboArea   = document.getElementById("name_area");
         const comboDoctor = document.getElementById("id_doctor");
         const comboFecha  = document.getElementById("date");
         const comboHora   = document.getElementById("hours");
         const areas = <%-JSON.stringify(areasMedicas)%>;
         actualizarDoctores();

          comboArea.addEventListener("change",()=>{
            actualizarDoctores();
            
          });
          comboDoctor.addEventListener("change",()=>{
            actualizarFechas();
          });
          comboFecha.addEventListener("change",()=>{
            actualizarHoras();
          })
         function actualizarDoctores(){
           const doctores = getAreaActual().doctores;
           comboDoctor.innerHTML="";
           for(doctor of doctores){
            comboDoctor.innerHTML+=`<option value="${doctor._id}">${doctor.nombre+" "+doctor.apellido}</option>`;
           }
           actualizarFechas();
          
         }
         function actualizarFechas(){
           const horarios = getAreaAtencionActual().horarios;
           comboFecha.innerHTML = "";
           
            for(horario of horarios){
              comboFecha.innerHTML+=`<option value="${horario._id}">${horario.fecha}</option>`;
            }
            actualizarHoras();
         }
         function actualizarHoras(){
           const horas = getHorarioActual().horas;
           comboHora.innerHTML = "";
           for(hora of horas){
             comboHora.innerHTML+=`<option value="${hora}">${hora}</option>`;
           }
         }
         function getAreaActual(){
           return getArea(comboArea.value);
         }
         function getDoctorActual(){
           return getDoctor(getAreaActual(),comboDoctor.value);
         }
         function getAreaAtencionActual(){
           return getAreaAtencionDoctor(getDoctorActual(),comboArea.value);
         }
         function getHorarioActual(){
           return getHorario(getAreaAtencionActual(),comboFecha.value);
         }
         function getArea(idArea){
           for(area of areas){
             if(area._id == idArea) return area;
           }
         }
         function getAreaAtencionDoctor(doctor,idArea){
          for(areaAtencion of doctor.areasAtencion){
             if(areaAtencion.areaMedica == idArea) return areaAtencion;
           }
         }
         function getDoctor(area,idDoctor){
          for(doctor of area.doctores){
             if(doctor._id == idDoctor) return doctor;
           }
         }
         function getHorario(areaAtencion,idHorario){
           for(horario of areaAtencion.horarios){
              if(horario._id == idHorario) return horario;
           }
         }
      </script>
      <script>
        
        const form = document.querySelector("form");

        form.addEventListener("submit",enviarDatos);
        async function enviarDatos(e){
            e.preventDefault();
            const paciente = "<%=user._id%>";
            const areaMedica = form.name_area.value;
            const doctor = form.id_doctor.value;
            const fecha = getHorarioActual().fecha;
            const hora = comboHora.value;
            const descripcion = form.description.value;
            const datosCita = {paciente,areaMedica,fecha,hora,doctor,descripcion};
            const res = fetch("/cita/create", {
            method: "POST",
            body: JSON.stringify(datosCita),
            headers: { "Content-Type": "application/json" },
                  });
              contenedor_ventana.classList.remove("ocultar");
            contenedor_ventana.classList.remove("ocultar_inicial");
            contenedor_ventana.classList.add("mostrar");
        }
      </script>
      <script>
        
         const contenedor_ventana = document.querySelector(".contenedor_ventana");

          const ventana = document.querySelector(".ventana");
        const aceptar = document.querySelector(".contenedor_botones .confirmar");
         aceptar.addEventListener("click",()=>{
          window.location.href = window.location.href;
        // ocultarContenedor();
       

      })
        ventana.addEventListener("click",(e)=>{
          e.stopPropagation();
        });
        contenedor_ventana.addEventListener("click",()=>{
          window.location.href = window.location.href;
        });
        function ocultarContenedor(){
            contenedor_ventana.classList.add("ocultar");
            contenedor_ventana.classList.remove("mostrar");
          
        }
      </script>
      <script> 
        document.querySelector(".solicitar_cita").classList.add("enlace_activo");
      </script>
</body>
</html>
