<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Clinica</title>
    <style>
      * {
        margin: 0;
        padding: 0;
      }
      form {
        width: 360px;
        margin: 0 auto;
        padding: 30px;
        box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        background: white;
      }
      input,select {
        padding: 10px 12px;
        border-radius: 4px;
        border: 1px solid #ddd;
        font-size: 1em;
        width: 100%;
      }
      label {
        display: block;
        margin: 20px 0 10px;
      }
      button {
        margin-top: 30px;
        border-radius: 36px;
        background: #fee996;
        border: 0;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 0.8em;
        display: block;
        padding: 10px 16px;
        letter-spacing: 2px;
      }
    </style>
  </head>
  <body>
    
    <form>
      <p style="text-align: center;margin: 30px 0;font-weight: bold;">REGISTRO DE DOCTOR</p>
      <a href="/registrar/paciente" style="text-align: center; width: 100%;display: inline-block;">Ir a registro de paciente</a>
      <label for="nombre">Nombre</label>
      <input id="nombre" type="text" name="nombre" />
      <label for="apellido">Apellido</label>
      <input id="apellido" type="text" name="apellido" />
      <label for="dni">DNI</label>
      <input id="dni" type="text" name="dni" />
      <label for="direccion">Direccion</label>
      <input id="direccion" type="text" name="direccion" />
      <label for="telefono">Telefono</label>
      <input id="telefono" type="text" name="telefono" />
      <label for="especialidad">Especialidad</label>
      <input id="especialidad" type="text" name="especialidad" />
      <label for="area">Area</label>
      <select name="area" id="area">
      <%for(let area of areas){%>
        
          <option value="<%=area._id%>"><%=area.nombre%></option>
        
      <%}%>
    </select>
      <label for="password">Contraseña</label>
      <input id="password" type="password" name="password" />
      <button>Registrar</button>
    </form>

    <script>
      const form = document.querySelector('form');
      form.addEventListener('submit',enviarDatos);
      async function enviarDatos(e){
        e.preventDefault();
        const nombre = form.nombre.value;
        const apellido = form.apellido.value;
        const dni = form.dni.value;
        const direccion = form.direccion.value;
        const telefono = form.telefono.value;
        const password = form.password.value;
        const especialidad = form.especialidad.value;
        const tipoUsuario = "doctor";
        const idArea = form.area.value;
        const res = await fetch('/registrar/doctor', {
          method: 'POST',
          body: JSON.stringify({nombre,apellido,dni,direccion,telefono,password,tipoUsuario,especialidad,idArea}),
          headers: {'Content-Type': 'application/json'}
        });

        const data = await res.json();
        console.log(data);
        location.assign('/login');
      }
    </script>
  </body>
</html>
