<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Clinica</title>
    <style>
      * {
        margin: 0;
        padding: 0;
      }
      form {
        width: 360px;
        margin: 0 auto;
        padding: 30px;
        box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        background: white;
      }
      input {
        padding: 10px 12px;
        border-radius: 4px;
        border: 1px solid #ddd;
        font-size: 1em;
        width: 100%;
      }
      label {
        display: block;
        margin: 20px 0 10px;
      }
      button {
        margin-top: 30px;
        border-radius: 36px;
        background: #fee996;
        border: 0;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 0.8em;
        display: block;
        padding: 10px 16px;
        letter-spacing: 2px;
      }
    </style>
  </head>
  <body>
    
    <form>
      <p style="text-align: center;margin: 30px 0;font-weight: bold;">REGISTRO DE Horario</p>
      <label for="area">Area</label>
      <select name="area" id="area">
        <%for(let area of areas){%>
          
            <option value="<%=area._id%>"><%=area.nombre%></option>
          
        <%}%>
      </select>
      <label for="doctor">Doctor</label>
      <select name="doctor" id="doctor">
      </select>
      <label for="fecha">Fecha</label>
      <input type="date" name="fecha" id="fecha">
      <label for="horas">Horas</label>
      <textarea name="horas" id="horas" cols="30" rows="10"></textarea>
      <button>Registrar</button>
    </form>

    <script>
      const form = document.querySelector('form');
      form.addEventListener('submit',enviarDatos);
      async function enviarDatos(e){
        e.preventDefault();
        const idArea = form.area.value;
        const fecha = form.fecha.value;
        const horas = form.horas.value.split("\n");
        const idDoctor = form.doctor.value;
        // const nombre = form.nombre.value;
        const res = await fetch('/registrar/horario', {
          method: 'POST',
          body: JSON.stringify({idArea,fecha,horas,idDoctor}),
          headers: {'Content-Type': 'application/json'}
        });

        // const data = await res.json();
        // console.log(data);
        location.assign('/registrar/horario');
      }
      const areas = <%-JSON.stringify(areas)%>;
      
      const areaCombo = document.getElementById("area");
      const doctorCombo = document.getElementById("doctor");
      areaCombo.addEventListener("change",(e)=>{
          actualizarDoctores(e.target.value);
      });

      function actualizarDoctores(idArea){
        let areaElegida = null;
        for(let area of areas){
            if(area._id === idArea){
                areaElegida = area;
                break;
            }
        }
        if(areaElegida!=null){
            doctorCombo.innerHTML = "";
            console.log(areaElegida)
            for(let doctor of areaElegida.doctores){
                doctorCombo.innerHTML+=`<option value="${doctor._id}">${doctor.nombreCompleto}</option>`;
            }
        }
      }

    </script>
  </body>
</html>
