<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LOGIN ADMINISTRADOR</title>
  <link rel="stylesheet" href="/css/login.css">
</head> 
<body>
  <form action="/login" method="POST">
    <div class="div_logo">
      <img src="/imagenes/avatar2.png" alt="">
    </div>
    
    <label for="usuario">Usuario:</label>
    <input type="text" name="usuario" id="usuario" >
    <label for="password">Contraseña:</label>
    <div class="input_ojo">
      <input type="password" name="password" id="password">
      <img id="ojo_imagen"src="/imagenes/ojo.png" alt="">
    </div>
    <p class="mensaje" >Usuario o contraseña incorrecta</p>
    <div class="div_iniciar_sesion">
      <div class="iniciar_sesion">INICIAR SESION</div>
    </div>
  </form>

  <script>

    const password = document.getElementById('password');
    const ojo_imagen  = document.getElementById("ojo_imagen");
    const input_password = document.getElementById("password");
    ojo_imagen.addEventListener('click',()=>{
      if(input_password.getAttribute("type")=="password"){
        input_password.setAttribute("type","text");
        input_password.style.letterSpacing = "normal";

      }else{
        input_password.setAttribute("type","password");
        input_password.style.letterSpacing = "3px";
      }
      
    })
  </script>
  <script>
    const boton_login = document.querySelector(".iniciar_sesion");
    const form = document.querySelector('form');
    const mensaje = document.querySelector('.mensaje');

    boton_login.addEventListener("click",async ()=>{
      const usuario = form.usuario.value;
      const password = form.password.value;
      console.log("envio");
      const res = await fetch('/admin', {
        method: 'POST',
        body: JSON.stringify({usuario,password}),
        headers: {'Content-Type': 'application/json'}
      });

      const data = await res.json();
      if(data.mensaje){
        mensaje.style.visibility = "visible";
      }else{
        location.assign('/');
      }
    });
  </script>
</body>

</html>