<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/doctor/historia_create.css">
    <link rel="stylesheet" href="/css/navegacion.css">
    <link rel="stylesheet" href=/css/registro_hoja_ventana.css>

    <title>Document</title>
</head>
<body>
    <style>
        :root{
        --fondo-claro:#0BB288;
        --fondo-oscuro:#098E6C;
        }
    </style>
    <%- include('../../partials/menu_doctor.html') %>
    <form class="hoja_clinica" action="">
        
        <div class="contenedor_avance">
            <div class="linea_avance">
                <div class="titulo_circulo titulo_1">
                    <span>Información</span> <span>basica</span>
                </div>
                <div class="titulo_circulo titulo_2">
                    Receta
                </div>
                <div class="circulo_1 circulo circulo_activo">
                    1
                </div>
                <div class="circulo_2 circulo ">
                    2
                </div>
            </div>
        </div>
        <div class="contenedor_cuadros">
            <div class="cuadro_1 cuadro cuadro_activo">
                <div class="cuadro_info_personas">
                    <div class="info_persona info_paciente">
                        <p class="titulo_info">Paciente</p>
                        <p>Nombre:</p><span><%= paciente.nombre+" "+paciente.apellido%></span>
                        <p>DNI:</p><span id="dniPaciente"><%= paciente.dni%></span>
                        <p>ID:</p><span><%= paciente._id%></span>
                    </div>
                    <div class="info_persona info_doctor">
                        <p class="titulo_info">Doctor</p>
                        <p>Nombre:</p><span><%= user.nombreCompleto%></span>
                        <p>ID:</p><span><%= user._id%></span>
                    </div>
                </div>
                <p>Fecha: <span id="fecha"></span></p>
                <label for="area_medica" class="titulo_area">Area Medica</label>
                <select name="area_medica" id="area_medica">
                    <%for(area of areasMedicas){%>
                        <option value="<%=area._id%>"><%=area.nombre%></option>
                    <%}%>
                    
                </select>
                <p class="titulo_descripcion">Descripcion: <span class="error ocultar">La descripcion no puede estar vacia</span></p>
                <textarea name="descripcion" id="" cols="30" rows="10" class="descripcion"></textarea>
                <button class="boton_siguiente boton">Siguiente</button>
            </div>
    
            <div class="cuadro_2 cuadro ">
                <p>Medicamentos</p>
                <p>Indicaciones</p>
                <textarea name="medicamentos" id="" cols="30" rows="10"></textarea>
                <textarea name="indicaciones" id="" cols="30" rows="10"></textarea>
                <div class="contenedor_botones">
                    <button class="boton_regresar boton">Regresar</button>
                    <button class="boton_finalizar boton">Finalizar</button>
                </div>
            </div>
        </div>
        
    </form>
    <div class="contenedor_ventana ocultar_inicial">
        <div class="ventana">
            <div class="barra">
                <span>Mensaje</span>
                
            </div>
            <div class="contenido">
              <div class="mensaje"> La hoja clinica ha sido creada correctamente</div>
              
              <div class="contenedor_botones"><div class="confirmar boton">Aceptar</div></div>
            </div>    
        </div>
        
      
      </div>
      
    <script>
        const fecha = document.getElementById("fecha");
        fecha.innerText = new Date().toLocaleDateString();
    </script>
    <script>

      const boton_siguiente = document.querySelector(".boton_siguiente");
      const boton_regresar = document.querySelector(".boton_regresar");
      const circulo_1 = document.querySelector(".circulo_1");
      const circulo_2 = document.querySelector(".circulo_2");
      const cuadro_1 = document.querySelector(".cuadro_1");
      const cuadro_2 = document.querySelector(".cuadro_2");
      const error_descripcion = document.querySelector(".titulo_descripcion .error");
      const descripcion = document.querySelector(".descripcion");
      boton_siguiente.addEventListener("click",(e)=>{
          e.preventDefault();
          if(descripcion.value==null||descripcion.value.trim()==""){
            descripcion.classList.add("cuadro_error");
            error_descripcion.classList.remove("ocultar");
          }else{
              error_descripcion.classList.add("ocultar");
            descripcion.classList.remove("cuadro_error");
            circulo_1.classList.remove('circulo_activo');
            circulo_2.classList.add('circulo_activo');
            cuadro_1.classList.remove('cuadro_activo');
            cuadro_2.classList.add('cuadro_activo');
          }
         

      });
      boton_regresar.addEventListener("click",(e)=>{
        e.preventDefault();
        circulo_2.classList.remove('circulo_activo');
        circulo_1.classList.add('circulo_activo');
        cuadro_2.classList.remove('cuadro_activo');
        cuadro_1.classList.add('cuadro_activo');
      });
    </script>
    <script>

        const form = document.querySelector(".hoja_clinica");
        
        
        const boton_finalizar = document.querySelector(".boton_finalizar");
        let hoja_creada = false;
        boton_finalizar.addEventListener("click",async (e)=>{
            contenedor_ventana.classList.remove("ocultar");
            contenedor_ventana.classList.remove("ocultar_inicial");
            contenedor_ventana.classList.add("mostrar");
            e.preventDefault();
            const datos = {};
            datos.dniPaciente = document.getElementById("dniPaciente").innerHTML;
            datos.areaMedica = form.area_medica.value;
            datos.descripcion = form.descripcion.value;
            datos.receta = {};
            datos.receta.medicamentos = form.medicamentos.value;
            datos.receta.indicaciones = form.indicaciones.value;
            datos.fecha = fecha.innerHTML.trim();

            const res =  fetch("/historia", {
                    method: "POST",
                    body: JSON.stringify(datos),
                    headers: { "Content-Type": "application/json" }
                })
                
            // const data = await res.json();
            // console.log(data);
        });

    </script>
     <script> 
        document.querySelector(".buscar_historia").classList.add("enlace_activo");
      </script>
      <script>
        const contenedor_ventana = document.querySelector(".contenedor_ventana");

         const ventana = document.querySelector(".ventana");
       const aceptar = document.querySelector(".contenedor_botones .confirmar");
        aceptar.addEventListener("click",()=>{
            ocultarContenedor();
         window.location.href = "/historia";
         ocultarContenedor();
       // ocultarContenedor();
      

     })
     ventana.addEventListener("click",(e)=>{
        e.stopPropagation();
     })
     contenedor_ventana.addEventListener("click",()=>{
        ocultarContenedor();
        window.location.href = "/historia";
     })
       
       function ocultarContenedor(){
           contenedor_ventana.classList.add("ocultar");
           contenedor_ventana.classList.remove("mostrar");
         
       }
     </script>
</body>
</html>