<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Hospital</title>
    <link rel="stylesheet" href="/css/doctor/historias.css" />

    <link rel="stylesheet" href="/css/paciente/estilos.css" />
    <link rel="stylesheet" href="/css/cuadro_flotante.css" />
    <link rel="stylesheet" href="/css/cuadro_detalle.css" />
    <link rel="stylesheet" href="/css/arreglarCuadroPrincipal.css">

  </head>

  <body>
    <%- include('../../partials/header.ejs') %>

    <article id="articulo-2">
      <section class="principal">
        <h2>BUSCAR HISTORIA</h2>
        <form class="busqueda">
          <input type="text" id="dni" name="dni" placeholder="  DNI DEL PACIENTE" />
          <button type="submit"><img src="/imagenes/lupa.png" alt=""></button>
        </form>
        <div class="mensaje">EL DNI NO ESTA REGISTRADO</div>
        
      </section>
    </article>

    <%- include('../../partials/aside_doctor.ejs') %>

    <script src="/javascript/cuadro_flotante.js"></script>
  </body>
  <script>
    const input = document.querySelector("form input");
    const form = document.querySelector(".busqueda");
    const mensaje = document.querySelector(".mensaje");
    input.addEventListener("input",()=>{
      mensaje.classList.remove("error");
    })
    form.addEventListener("submit", async (e) => {
     
      e.preventDefault();
      if (form.dni.value.trim() === ""){
        mensaje.classList.add("error");
        mensaje.innerHTML = "INGRESE EL DNI DEL PACIENTE";
        return;
      } 
      const res = await fetch("/doctor/paciente/" + form.dni.value, {
        method: "GET",
      });

      const paciente = await res.json();

      if (paciente != null) {
        location.assign('/doctor/historia/'+paciente._id);
        mensaje.classList.remove("error");
      }else{
        mensaje.classList.add("error");
        mensaje.innerHTML = "EL DNI NO ESTA REGISTRADO";
      }

    });
  </script>
</html>
