<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>INFORMACION DEL PACIENTE</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <!-- Los iconos tipo Solid de Fontawesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css" />
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

    <!-- Nuestro css style="background-color: transparent;  border-primary -->
    <link rel="stylesheet" type="text/css" href="infopaciente.css" />
</head>

<body>
    <%- include('../partials/menu.html') %>
    <div class="container-fluid">
        <div class="row columna">
            <div class="col-5 user-img sombra"></div>
            <!-- <div class="col-2"></div> -->
            <div class="col-5 segunda-columna">
                <p class="cod p"><span>Codigo: <%= user._id %></span></p>
                <input type="text" value="" disabled class="form-control botom p" />
                <p class="cod p"><span>ID Historia: 123123123</span></p>
                <input type="text" value="" disabled class="form-control tex p botom" />
                <p class="cod p"><span>Nombre: <%=user.nombreCompleto%></span></p>
                <input type="text" value="" disabled class="form-control tex p botom" />
                <p class="cod p"><span>Telefono: <%=user.telefono%></span></p>
                <input type="text" value="" disabled class="form-control tex p botom" />
                <p class="cod p"><span>Direccion: <%=user.direccion%></span></p>
                <input type="text" value="" disabled class="form-control tex p botom" />
                <p class="cod p"><span>Estado: <%=user.estado%></span></p>
                <input type="text" value="" disabled class="form-control tex p botom" />
                <p class="cod p"><span>Tipo de Usuario: <%=user.tipoUsuario%></span></p>
                <input type="text" value="" disabled class="form-control tex p botom" />
            </div>
        </div>
    </div>
</body>

</html>