<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>LISTA CITAS PENDIENTES PACIENTE</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <!-- Los iconos tipo Solid de Fontawesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css" />
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

    <!-- Nuestro css style="background-color: transparent;  border-primary -->
    <link rel="stylesheet" type="text/css" href="vercitapendientepaciente.css" />
</head>

<body>
    <%- include('../partials/menu.html') %>
    <div class="row ">
        <div class="col-12">
                <div class="">
                    <table class="table table-bordered t">
                        <thead class="table-dark cabecera ">
                                        <tr>
                                            <th>Codigo</th>
                                            <th>Nombre Area Medica</th>
                                            <th>Nombre Doctor</th>
                                            <th>Nombre Paciente</th>
                                            <th>Fecha</th>
                                            <th>Horas</th>
                                            <th>Descripcion</th>
                                           
                                        </tr>
                        </thead>
                        <tbody ">
                             <!-- @foreach($Paciente as $paciente)-->
                                <tr>
                                    <td>001</td>
                                    <td>002</td>
                                    <td>doct01</td>
                                    <td>p001</td>
                                    <td>05/10/21</td>
                                    <td>2 pm</td>
                                    <td>prueba de sangre</td>
                                   
                                   <!-- 
                                    <td>{{$}}</td>
                                    <td>{{$paciente->}}</td>
                                    <td>{{$paciente->num_celular}}</td>
                                    <td>{{$paciente->correo}}</td>
                                    <td>{{$paciente->correo}}</td>
                                    <td>{{$paciente-><%=user.estado%>}}</td>
                                    <td>{{$paciente->correo}}</td>-->
                                   
                                </tr>
                           <!--  @endforeach-->
                        </tbody>
                    </table>              
                </div>           
                        
            
        </div>
    </div>
</body>

</html>