<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>LISTA CITAS PENDIENTES PACIENTE</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <!-- Los iconos tipo Solid de Fontawesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css" />
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

    <!-- Nuestro css style="background-color: transparent;  border-primary -->
    <link rel="stylesheet" type="text/css" href="vercitapendientepaciente.css" />
    
    <link rel="stylesheet" href="/css/navegacion.css">
</head>

<body>
  <style>
    :root{
    --fondo-claro:#239089;
    --fondo-oscuro:#195c57;
    }
</style>
    <%- include('../partials/menu.html') %>
    
    
    <div class="row tbl">
        <div class="col-12">
                <div class="">
                    <table class="table table-bordered t">
                        <thead class="table-dark cabecera ">
                            
                                        <tr>
                                            
                                            <th>Area Medica</th>
                                            <th>Doctor</th>
                                            <th>Fecha</th>
                                            <th>Hora</th>
                                            <th>Descripcion</th>
                                            <th>estado</th>
                                            <th>Opciones</th>

                                        </tr>
                        </thead>
                        <tbody >
                             <!-- @foreach($Paciente as $paciente)-->
                             <%for(cita of citas){%>
                                <tr>
                                    
                                    <td><%=cita.areaMedica.nombre%></td>
                                    <td><%=cita.doctor.nombre+" "+cita.doctor.apellido%></td>
                                    <td><%=cita.fecha%></td>
                                    <td><%=cita.hora%></td>
                                    <td><%=cita.descripcion%></td>
                                    <td><%=cita.estado%></td>
                                    <td>
                                        <% if(cita.estado!="Cancelado"){%>
                                          <div style="display:flex; flex-direction: row;">
                                            <button type="button" class="btn btn-danger" style="margin-right: 8px" data-toggle="modal" data-target="#exampleModal">
                                                Cancelar Cita
                                              </button>
                                              <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                  <div class="modal-content">
                                                    <div class="modal-header">
                                                      <h5 class="modal-title" id="exampleModalLabel">Cancelar Cita</h5>
                                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                      </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form action="" id="form-cancel-cita">
                                                            ¿Desea realmente cancelar la cita?
                                                            <div class="form-group">
                                                              <label for="exampleFormControlTextarea1">Escriba un motivo</label>
                                                              <textarea class="form-control motivo_cancelacion" id="exampleFormControlTextarea1"  rows="3"></textarea>
                                                            </div>
                                                        </form>
                                                    </div>
                                                    <div class="modal-footer">
                                                      <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                                                      <button onclick="cancelarCita('<%=cita._id%>')" form="form-cancel-cita" type="button" class="btn btn-primary cancelar_cita">Sí</button>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
    
                                              <!-- Button trigger modal -->
                                                <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong2">
                                                    Historial Médico
                                                </button> -->
                                                
                                                <!-- Modal -->
                                                <div class="modal fade" id="exampleModalLong2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle2" aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLongTitle2">Historial Médico del Paciente</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                        </div>
                                                        <div class="modal-body">
                                                        ...
                                                        </div>
                                                        <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                                        </div>
                                                    </div>
                                                    </div>
                                                </div>
                                        </div>
                                        <%}%>
                                    </td>
                                </tr>
                            <%}%>
                           <!--  @endforeach-->
                        </tbody>
                    </table>              
                </div>           
                        
            
        </div>
    </div>
    <script>
      const motivo_cancelacion = document.querySelector(".motivo_cancelacion");
      async function cancelarCita(idCita){
        const motivo = motivo_cancelacion.value;
        const res = await fetch("/cita/cancel", {
            method: "POST",
            body: JSON.stringify({idCita,motivo}),
            headers: { "Content-Type": "application/json" },
                  });
        location.reload();
      };
    </script>
    <script> 
      document.querySelector(".ver_citas").classList.add("enlace_activo");
    </script>
</body>

</html>